@{
    ViewData["Title"] = "Index";

    int globalPrice = 0;
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Movie Names</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.MovieName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><a class="btn btn-danger" asp-controller="cart" asp-action="remove" asp-route-Id="@item.CartId">Remove</a></td>
            </tr>
            globalPrice = globalPrice + @item.Price;
                   
        }

        
       
    </tbody>
</table>
<div>
    <h4 style="float-end">Total Amount : @globalPrice</h4>
    <a class="btn btn-success" asp-controller="Cart" asp-action="checkout"> Check out</a>
</div>


